<!-- <!DOCTYPE html>   //code of index.html
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Template is working {{name}}</h1>
    <form action="removepunc" method="get">
        <textarea name="text" style="margin: 0px; width: 1300px; height: 164px;" ></textarea>
        <br /> <input type="checkbox" name="removepunc"> Remove Punctuation  <br />
        <input type="checkbox" name="capitalize"> Upper Case <br />
        <input type="checkbox" name="newlineremover"> New Line Remover <br />
        <input type="checkbox" name="spaceremover">Space Remover <br />
        <br/><button type="submit">Submit</button>
    </form>
</body>
</html> -->
<!-- <!DOCTYPE html>
<html lang="en"> code of analyze.html
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzing Your Text ...</title>
</head>
<body>
    <h1>Your Analyzed Text - {{purpose}}</h1>
    <p>
        {{analyzed_text}}
    </p>
</body>
</html> -->